.btn__scroll {
    background-image: url("../img/btnscroll.svg");
    position: fixed;
    left: 5%;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    border: none;
    z-index: 50;
    background-color: white;
}