* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block; 
  max-width: 100%;
}

a {
  text-decoration: none; 
  color: #1E0606;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  @media (max-width: 1015px) {
    padding: 0 60px;
}
@media (max-width:586px) {
  padding: 0 20px;
}
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

