@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";
@import "_fonts";

/*
  Import all other blocks
*/
@import "_blocks/signin";
@import "_blocks/register";
@import "_blocks/btnscroll";
@import "_blocks/password";
@import "_blocks/myblog";
@import "_blocks/data";
@import "_blocks/send";
@import "_blocks/mobile";
@import "_blocks/sliderone";
@import "_blocks/swiper";
@import "_blocks/myprofile";
@import "_blocks/footer";
@import "_blocks/header";

/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/

.main {
  &__group {
    display: flex;
    margin-top: 10px;
    gap: 40px;
    @media (max-width:586px) {
      display: flex;
      flex-direction: column;
      gap: 0px;
}
  }
  &__title {
    font-family: $font-gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 57px;
    color: #070707;
    max-width: 280px;
  }
  &__text {
    font-family: $font-gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #070707;
    max-width: 226px;
    margin-top: 93px;
    @media (max-width:586px) {
      margin-top: 0;
      margin-bottom: 33px;
      max-width: 205px;
}
  }
  &__slider {
    display: flex;
    justify-content: space-around;
  }
  &__button {
    background: #FFFFFF;
    border: #FFFFFF;
  }
}

.about {

  &__background {
    background-color: #F6F6F6;
  }
  &__title {
    font-family: $font-gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #070707;
    margin-top: 60px;
    margin-bottom: 51px;
    padding-top: 60px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // margin-left: 50px;
    // padding-bottom: 62px;
    margin-top: -19px;
    margin-left: 48px;
    padding-bottom: 45px;
    @media (max-width:586px) {
      align-items: center;
      justify-content: center;
      margin-left: 5px;
}
  }
  &__list-item {
    font-family: $font-gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #070707;
    max-width: 478px;
    display: block;
    text-align: initial;
    margin-top: 20px;
    padding: 12px;  
    border:2.5px solid #070707;
  }
  &__list-i {
    margin-bottom: 35px;
    position:relative;
  }
  &__list-i:nth-child(1) {
    // margin-top: -20px;
    margin-left: -149px;
    @media (max-width:586px) {
      margin-left: 0px;
}
  }
  &__list-i:nth-child(2) {
    margin-left: 54px;
    margin-top: -15px;
    @media (max-width:586px) {
      margin-left: 0px;
}
  }
  &__list-i:nth-child(3) {
    margin-right: 149px;
        @media (max-width:799px) {
          margin-right: 130px;
          @media (max-width:586px) {
            margin-right: 0px;
      }
   }
  }
  &__list-i::before {
    border:27px solid #f6f6f6 transparent;
    border-top-color: 30px #070707;
    position:absolute;
    top:100%;
    right:5%;
    content:'';
  }
  &__list-i::after {
    border:27px solid #f6f6f6 transparent;
    border-top-color:#f6f6f6;
    position:absolute;
    top:97.5%;
    right:5%;
    content:'';
  }
  &__list-i:nth-child(2)::before {
    right:84%;
    @media (max-width:687px) {
      right:83%;
}
    @media (max-width:478px) {
      right:81%;
}
    @media (max-width:385px) {
      right:79%;
}
    @media (max-width:385px) {
     right:77%;
}
    @media (max-width:385px) {
      right:75%;
}
  }
  &__list-i:nth-child(2)::after {
    right:84%;
    @media (max-width:687px) {
      right:83%;
}
    @media (max-width:478px) {
      right:81%;
}
    @media (max-width:385px) {
      right:79%;
}
    @media (max-width:385px) {
      right:77%;
}
    @media (max-width:385px) {
      right:75%;
}
  }

}

// скилы

.skills {
  margin-top: 30px;
  &__title {
    font-family: $font-gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #070707;
    margin-top: 60px;
  }
  &__tx {
    font-family: $font-gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #070707;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.skills {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    @media (max-width: 1015px) {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 40px;
    }
    @media (max-width: 327px) {
      gap: 30px;
    }
  }
  &__list-img {
    margin-bottom: 20px;
  }
  &__list-item {
    font-family: $font-gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin-bottom: 21px;
  }
  &__flex-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__label {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
  }
}
progress {
  -webkit-appearance: none; 
  @media (max-width: 459px) {
    max-width: 94px;
  }
}
progress::-webkit-progress-bar {
  background-color: #E5E5E5;
  height: 9px;
  margin-top: 7px;
 }
progress::-webkit-progress-value {
  background-color: #070707;
  height: 9px;
 }


// Portfolio

.portfolio {
  &__background {
    background: #F6F6F6;
    height: 816px;
  }
  &__title {
    font-family: $font-gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-align: center; 
    color: #070707;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-top: 64px;
  }
}

// modal Sign In
