<div class="data"> 
    <div class="data__container">
        <div class="data__block">            
<div class="data__block-forms"> 
    <form action="#" method="post">
        <div class="data__block-forms-mail">
            <label class="data__block-forms-labelmail" for="mail">Email<span class="data__block-forms-point">*</span></label>
            <input class="data__block-forms-inputmail" type="email" id="mail" name="mail">
           </div>
           <div class="data__block-forms-flex">
            <div class="data__block-forms-groupone">
                <div class="data__block-forms-name">
                  <label class="data__block-forms-labelname" for="name">Name<span class="data__block-forms-point">*</span></label>
                  <input class="data__block-forms-inputname" type="text" id="name" name="name">
                 </div>
                 <div class="data__block-forms-location">
                    <label class="data__block-forms-labellocation" for="location">Location<span class="data__block-forms-point">*</span></label>
                    <input class="data__block-forms-inputlocation" type="text" id="location" name="location">
                   </div>
             </div>
             <div class="data__block-forms-grouptwo">
                 <div class="data__block-forms-surname">
                     <label class="data__block-forms-labelsurname" for="surname">Surname<span class="data__block-forms-point">*</span></label>
                     <input class="data__block-forms-inputsurname" type="text" id="surname" name="surname">
                    </div>
                    <div class="data__block-forms-age">
                     <label class="data__block-forms-labelage" for="age">Age<span class="data__block-forms-point">*</span></label>
                     <input class="data__block-forms-inputage" type="text" id="age" name="age">
                    </div>
                    <div class="data__block-forms-picture">
                        <label class="data__block-forms-labelpicture" for="picture">Profile picture<span class="data__block-forms-point">*</span></label>
                        <input class="data__block-forms-inputpicture" type="text" id="picture" name="picture">
                        <!-- <img src="./img/upload.svg" class="data__block-forms-img" alt="image" width="16" height="14"> -->
                       </div>
             </div>
           </div>
           <button class="data__block-forms-button"  type="submit">Submit changes</button>
    </form>
   </div>
        <button class="data__block-forms-close data__form-close"  type="button"></button>
        </div>
    </div>
</div>
