<footer class="footer">
    <div class="container">
        <div class="footer__group">
            <div class="footer__text">Contacts</div>
            <div class="footer__txt">Want to know more or just chat? 
                You are welcome!</div>
        </div>
        <div class="footer__mess"><a href="#" class="footer__message">Send message</a></div>
        <div class="footer__group-list">
            <ul class="footer__list-one">
                <li><a href="#" class="footer__list-item">Instagram</a></li>
                <li><a href="#" class="footer__list-item">Vk</a></li>
                <li><a href="#" class="footer__list-item">Telegram</a></li>
               </ul>
               <ul class="footer__list-two">
                <li><a href="#" class="footer__list-item">Mail</a></li>
                <li><a href="#" class="footer__list-item">GitHub</a></li>
                <li><a href="#" class="footer__list-item">Phone</a></li>
               </ul>
        </div>
        <div class="footer__codefrom">
            <ul class="footer__by">
                <li class="footer__by-text">Design by</li>
                <li class="footer__by-tx"> DL Academy</li>
            </ul>
            <div class="footer__by-txt">Program code from Antonina</div>
        </div>
    </div>
</footer>