<header class="header">
        <div class="container">
            <nav class="header__logo">
                <ul class="header__list">
                    <li class="header__li header__li-home"><a href="./index.html" class="header__list-item">Home</a></li>
                    <li class="header__li"><a href="#" class="header__list-item">My blog</a></li>
                    <li class="header__li"><a href="#" class="header__list-item button-btn-js">Sign in</a></li>
                    <li class="header__li"><a href="#" class="header__list-item button-btn__js">Register</a></li>
                   </ul>
            </nav>
    </div>
</header>

