<header class="header">
        <div class="container">
            <div class="header__logo">
                <a href="./index.html">Home</a>
            </div>
            <ul class="header__list">
                <li><a href="#" class="header__list-item">My blog</a></li>
                <li><a href="#" class="header__list-item">Sign in</a></li>
                <li><a href="#" class="header__list-item">Register</a></li>
               </ul>
               <div class="header__line"></div>
    </div>
</header>