<div class="password password-js"> 
    <div class="container-password">
        <div class="password-block">            
<div class="password__form"> 
    <form action="#" method="POST" name="passwordForm" novalidate>
     <div class="password__form-oldpass">
      <div class="password__form-old">
       <label class="password__form-labelold" for="pasOne">Old password<span class="password__form-point">*</span></label>
       <input class="password__form-inputold" type="text" id="pasOne" name="pas" required>
      </div>
      <div class="password__form-new">
        <label class="password__form-labelnew" for="newOne">New password<span class="password__form-point">*</span></label>
        <input class="password__form-inputnew" type="text" id="newOne" name="new" required>
       </div>
       <div class="password__form-repeat">
        <label class="password__form-labelrepeat" for="repeatOne">Repeat new password<span class="password__form-point">*</span></label>
        <input class="password__form-inputrepeat" type="text" id="repeatOne" name="rep" required>
       </div>
     </div>
     <button class="password__form-button" type="submit">Change password</button>
    </form>
   </div>
        <button class="password__form-close password__form-close" type="button"></button>
        </div>
    </div>
</div>