<div class="poup"> 
    <div class="poup__container">
        <div class="poup__block">            
<div class="poup__block-forms"> 
    <form action="#" method="post">
        <div class="poup__block-forms-email">
            <label class="poup__block-forms-labelemail" for="email">Email<span class="poup__block-forms-point">*</span></label>
            <input class="poup__block-forms-inputemail" type="email" id="email" name="user-email">
           </div>
           <div class="poup__block-forms-flex">
            <div class="poup__block-forms-groupone">
                <div class="poup__block-forms-name">
                  <label class="poup__block-forms-labelname" for="name">Name<span class="poup__block-forms-point">*</span></label>
                  <input class="poup__block-forms-inputname" type="name" id="name" name="user-name">
                 </div>
                 <div class="poup__block-forms-password">
                  <label class="poup__block-forms-labelpass" for="password">Password<span class="poup__block-forms-point">*</span></label>
                  <input class="poup__block-forms-inputpass" type="password" id="password" name="user-password">
                 </div>
                 <div class="poup__block-forms-location">
                  <label class="poup__block-forms-labellocation" for="location">Location<span class="poup__block-forms-point">*</span></label>
                  <input class="poup__block-forms-inputlocation" type="location" id="location" name="user-location">
                 </div>
             </div>
             <div class="poup__block-forms-grouptwo">
                 <div class="poup__block-forms-surname">
                     <label class="poup__block-forms-labelsurname" for="surname">Surname<span class="poup__block-forms-point">*</span></label>
                     <input class="poup__block-forms-inputsurname" type="surname" id="surname" name="user-surname">
                    </div>
                    <div class="poup__block-forms-repeat">
                     <label class="poup__block-forms-labelrepeat" for="repeat">Repeat<span class="poup__block-forms-point">*</span></label>
                     <input class="poup__block-forms-inputrepeat" type="repeat" id="repeat" name="user-repeat">
                    </div>
                    <div class="poup__block-forms-age">
                     <label class="poup__block-forms-labelage" for="age">Age<span class="poup__block-forms-point">*</span></label>
                     <input class="poup__block-forms-inputage" type="age" id="age" name="user-age">
                    </div>
             </div>
           </div>
     <div class="check">
        <input class="input-check" type="checkbox" id="consent" name="consent">
        <label class="label-check colouring-item" for="consent"><span class="check-color">Clicking on the button, you consent to the processing of your personal data.</span></label>
       <button class="button-form" type="button">Sign up</button>
          <button disabled="disabled" class="button-disabled" type="button">Sign up</button>
       </div>
    </form>
   </div>
        <button class="poup__block-forms-close button__close-js" type="button"></button>
        </div>
    </div>
</div>
