<div class="poup poup__js-open"> 
    <div class="poup__container">
        <div class="poup__block">            
<div class="poup__block-forms"> 
    <form action="#" name="register" method="POST" novalidate>
        <div class="poup__block-forms-email">
            <label class="poup__block-forms-labelemail" for="exampleFormControlInput3">Email
            <span class="poup__block-forms-point">*</span></label>
            <input class="poup__block-forms-inputemail" type="text" id="exampleFormControlInput3" name="usEmail" 
            placeholder="somebody@example.com" required>
           </div>
           <div class="poup__block-forms-flex">
            <div class="poup__block-forms-groupone">
                <div class="poup__block-forms-name">
                  <label class="poup__block-forms-labelname" for="exampleFormControlInput4">Name
                  <span class="poup__block-forms-point">*</span>
                  </label>
                  <input class="poup__block-forms-inputname" type="text" id="exampleFormControlInput4" name="usName" required>
                 </div>
                 <div class="poup__block-forms-password">
                  <label class="poup__block-forms-labelpass" for="exampleFormControlInput5">Password
                  <span class="poup__block-forms-point">*</span>
                  </label>
                  <input class="poup__block-forms-inputpass" type="password" id="exampleFormControlInput5" name="usPassword" required>
                 </div>
                 <div class="poup__block-forms-location">
                  <label class="poup__block-forms-labellocation" for="exampleFormControlInput6">Location
                  <span class="poup__block-forms-point">*</span>
                  </label>
                  <input class="poup__block-forms-inputlocation" type="text" id="exampleFormControlInput6" name="usLocation" required>
                 </div>
             </div>
             <div class="poup__block-forms-grouptwo">
                 <div class="poup__block-forms-surname">
                     <label class="poup__block-forms-labelsurname" for="exampleFormControlInput7">Surname
                     <span class="poup__block-forms-point">*</span>
                    </label>
                     <input class="poup__block-forms-inputsurname" type="text" id="exampleFormControlInput7" name="usSurname" required>
                    </div>
                    <div class="poup__block-forms-repeat">
                     <label class="poup__block-forms-labelrepeat" for="exampleFormControlInput8">Repeat
                     <span class="poup__block-forms-point">*</span>
                    </label>
                     <input class="poup__block-forms-inputrepeat" type="password" id="exampleFormControlInput8" name="usRepeat" required>
                    </div>
                    <div class="poup__block-forms-age">
                     <label class="poup__block-forms-labelage" for="exampleFormControlInput9">Age
                     <span class="poup__block-forms-point">*</span>
                     </label>
                     <input class="poup__block-forms-inputage" type="text" id="exampleFormControlInput9" name="usAge" required>
                    </div>
             </div>
           </div>
     <div class="check">
        <input class="input-check" type="checkbox" id="consent" name="consent">
        <label class="label-check colouring-item" for="consent"><span class="check-color">
            Clicking on the button, you consent to the processing of your personal data.</span></label>
       <button class="button-form" type="submit">Sign up</button>
          <button disabled="disabled" class="button-disabled" type="submit">Sign up</button>
       </div>
    </form>
   </div>
        <button class="poup__block-forms-close button__close-js" type="button"></button>
        </div>
    </div>
</div>
