<div class="send"> 
    <div class="send__container">
        <div class="send__block">            
<div class="send__block-forms"> 
    <form action="#" method="post">
           <div class="send__block-forms-flex">
            <div class="send__block-forms-groupone">
                <div class="send__block-forms-name">
                  <label class="send__block-forms-labelname" for="name">What is your name?<span class="send__block-forms-point">*</span></label>
                  <input class="send__block-forms-inputname" type="text" id="name" name="name">
                 </div>
                 <div class="send__block-forms-email">
                  <label class="send__block-forms-labelemail" for="email">Your Email<span class="send__block-forms-point">*</span></label>
                  <input class="send__block-forms-inputemail" type="email" id="email" name="email">
                 </div>
                 <div class="send__block-forms-me">
                    <label class="send__block-forms-labelme" for="me">What do you want to discuss with me?<span class="send__block-forms-point">*</span></label>
                    <input class="send__block-forms-inputme" type="text" id="me" name="me">
                   </div>
             </div>
             <div class="send__block-forms-grouptwo">
                 <div class="send__block-forms-subject">
                     <label class="send__block-forms-labelsubject" for="subject">Message subject<span class="send__block-forms-point">*</span></label>
                     <input class="send__block-forms-inputsubject" type="text" id="subject" name="subject">
                    </div>
                    <div class="send__block-forms-phone">
                     <label class="send__block-forms-labelphone" for="phone">Your mobile phone<span class="send__block-forms-point">*</span></label>
                     <input class="send__block-forms-inputphone" type="text" id="phone" name="phone">
                    </div>
             </div>
           </div>
     <div class="send__block-forms-check">
        <input class="send__block-forms-inputcheck" type="checkbox" id="box" name="box">
        <label class="send__block-forms-labelcheck send__block-forms-colouring" for="box"><span class="check-color">Clicking on the button, you consent to the processing of your personal data.</span></label>
       <button class="send__block-forms-btnform" type="button">Sign up</button>
          <button disabled class="send__block-forms-btndis" type="button">Sign up</button>
       </div>
    </form>
   </div>
        <button class="send__block-forms-close send__block-forms-js" type="button"></button>
        </div>
    </div>
</div>
