<div class="form form__js"> 
    <div class="container-form">
        <div class="form-block">            
<div class="form__form"> 
    <form action="#" name="signIn" method="POST" novalidate>
            <div class="form__form-telemail">
                <!-- <div class="is-invalid"> -->
                    <div class="form__form-email">
                        <label class="form__form-labelemail" for="exampleFormControlInput1">Email
                        <span class="form__form-point">*</span></label>
                        <input class="form__form-inputemail" type="text" id="exampleFormControlInput1" name="email" 
                        placeholder="somebody@example.com" required>
                       </div>
                       <div class="form__form-tel">
                         <label class="form__form-labelpass" for="exampleFormControlInput2">Password
                         <span class="form__form-point">*</span></label>
                         <input class="form__form-inputpass" type="password" id="exampleFormControlInput2" name="password" required>
                    </div>
                      <!-- </div> -->
                </div>
     <button class="form__form-button button-btn-js" type="submit">Log in</button>
    </form>
   </div>
        <button class="form__form-close button__close" type="button"></button>
        </div>
    </div>
</div>


