<div class="sliders">
    <div class="slider">
        <div class="slider__wrapper">
            <div class="slider__inner-wrapper">
                <div class="slider__slide"><img class="slider__img" src="./img/myphoto.png" alt="myphoto" width="1000" height="465"></div>
                <div class="slider__slide">this is 2 slide</div>
                <div class="slider__slide">this is 3 slide</div>
                <div class="slider__slide">this is 4 slide</div>
            </div>
        </div>
        <div class="slider__bottom-panel">
            <button class="slider__button slider__button-back slider__button-back-js">&#10094;</button>
            <div class="slider__pagination slider-pagination-js"></div>
            <button class="slider__button slider__button-next slider__button-nex-js">&#10095;</button>
        </div>
    </div>
</div>