<!-- <div class="image-slider swiper-container">
  Additional required wrapper
  <div class="image-slider__wrapper swiper-wrapper">
    Slides
    <div class="image-slider__slide swiper-slide">
      <div class="image-slider__image">
        <img src="./img/photo/1.jpg" alt="">
      </div>
    </div>
    <div class="image-slider__slide swiper-slide">
      <div class="image-slider__image">
        <img src="./img/photo/2.jpg" alt="">
      </div>
    </div>
    <div class="image-slider__slide swiper-slide">
      <div class="image-slider__image">
        <img src="./img/photo/3.jpg" alt="">
      </div>
    </div>
    ...
  </div>
  If we need pagination
  <div class="swiper-pagination"></div>

  If we need navigation buttons
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  If we need scrollbar
  <div class="swiper-scrollbar"></div>
</div> -->

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="./img/slidedl.png" alt="imagedl">
      <div class="swiper-background">
        <div class="container">
          <div class="swiper-text"><span class="swiper-txt">Learning site for DL Academy courses</span></div>
          <div class="swiper-title">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</div>
        </div>
      </div> 
    </div>
    <div class="swiper-slide">
      <img src="./img/slideglo.png" alt="imageglo">
      <div class="swiper-background">
        <div class="container">
          <div class="swiper-text"><span class="swiper-txt">Learning site for DL Academy courses</span></div>
          <div class="swiper-title">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</div>
        </div>
      </div> 
    </div>
    <div class="swiper-slide">
      <img src="./img/photo/3.jpg" alt="">
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination swiper-pagination-bullets"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <!-- <div class="swiper-scrollbar"></div> -->
</div>